#cat_menu{position: fixed; top: 100px; left: 13%; width: 320px; height: calc(100% - 160px); border-right: 1px solid rgba(0,0,0,0.1);}

#cat_menu #total_articles{position: absolute; left: 0px; top: 0px; width: 100%; height: 40px;}
#cat_menu #total_articles p{margin-left: 20px; font-size: 14px; color: grey;}

#cat_menu #cat_menu_header{position: absolute; left: 0px; top: 60px; width: 100%; height: 60px;}
#cat_menu #cat_menu_header p{margin-left: 20px; font-weight: bold;}

#cat_menu #cat_menu_all_links{position: absolute; left: 0px; top: 110px; width: 100%; height: calc(100% - 160px); overflow: auto;}
#cat_menu #cat_menu_all_links::-webkit-scrollbar-track {background-color: #fff; }
#cat_menu #cat_menu_all_links .cat_menu_link{position: relative; left: 0px; top: 0px;  width: 100%; min-height: 30px; height: auto; padding-top: 3px;}

/* #cat_menu #cat_menu_all_links .cat_menu_link p{position: absolute; left: 50px; top: 12px; margin: 0px; font-size: 14px; color: grey;} */
#cat_menu #cat_menu_all_links .cat_menu_link .menu_link{position: absolute; left: 50px; top: 0px; width: 100%; height: auto;}
#cat_menu #cat_menu_all_links .cat_menu_link p{margin: 0px; margin-top:0px; font-size: 14px; margin-left: 50px; margin-right: 10px; margin-top: 3px;}
#cat_menu #cat_menu_all_links .cat_menu_link p a{color:#333;}
#cat_menu #cat_menu_all_links .cat_menu_link p a:hover{ font-weight: bold;}

#cat_menu #cat_menu_all_links .cat_menu_link .left_menu_submenu_circle{position: absolute; left: 20px; top: 0px; width: 30px; height: 100%;}

#cat_menu #cat_menu_all_links .cat_menu_link .left_menu_submenu_circle .top_line{position: absolute; width: 2px; height: calc(50% - 6px); background: rgba(0,0,0,0.1); left: calc(50% - 1px);}
#cat_menu #cat_menu_all_links .cat_menu_link .left_menu_submenu_circle .middle_circle{position: absolute; width: 6px; height: 6px; border-radius: 50%; background: rgba(0,0,0,0.5); left: calc(50% - 3px); top: calc(50% - 3px);}
#cat_menu #cat_menu_all_links .cat_menu_link .left_menu_submenu_circle .bottom_line{position: absolute; width: 2px; height: calc(50% - 6px); background: rgba(0,0,0,0.1); bottom: 0px; left: calc(50% - 1px);}

#cats_icon_mobile{position: fixed; right: 15px; top: 15px; width: 40px; height: 40px; z-index: 1000; display: none;}
#cats_icon_mobile:hover{cursor: pointer;}
#cats_icon_mobile img{position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; width: 30px; height: 30px; margin: auto;}
#cat_menu #total_articles #exit_menu{position: absolute; display: none; right: 15px; top: 18px; width: 30px; height: 30px;}
#cat_menu #total_articles #exit_menu:hover{cursor: pointer;}
#cat_menu #total_articles #exit_menu img{position: absolute; left: 0px; top: 0px; width: 15px;}











/*** all articles ***/

#articles{position: absolute; top: 100px; left: calc(13% + 350px); width: calc(77% - 370px); height: calc(100% - 100px);}

#articles #articles_header{position: fixed; left: calc(13% + 380px); background: #fff; z-index: 100; top: 70px; width: calc(100% - 60px); height: 90px;}
#articles #articles_header #main_article_header{display: block;}
#articles #articles_header #small_article_header{display: none;}

#articles #articles_header h4{color: #BEBEBE; font-size: 22px; position: absolute; top: 40px; margin: 0px; }
#articles #articles_header h4 a{color: #BEBEBE;}

#articles #articles_body{position: absolute; left: 30px; top: 100px; width: calc(100% - 60px); height: auto;}
#articles #articles_body .single_article{position: relative; left: 0px; top: 0px; width: calc(33% - 4px); display: inline-block; height: 400px; border: 1px solid rgba(0,0,0,0.1);}
#articles #articles_body .single_article .single_article_image{position: absolute; left: 0px; top: 0px; width: 100%; height: 260px;}
#articles #articles_body .single_article .single_article_image img{position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; margin: auto; max-width: 100%; max-height: 100%;}

#articles #articles_body .single_article .single_article_cat{position: absolute; left: 0px; top: 250px; width: 100%; height: 30px;}
#articles #articles_body .single_article .single_article_cat p{position: absolute; left: 0px; top: 0px; width: 100%; margin: 0px; font-size: 14px; text-align: center; color: grey;}

#articles #articles_body .single_article .single_article_name{position: absolute; left: 0px; top: 270px; text-align: justify; width: 100%; height: 90px; text-align: center;}
#articles #articles_body .single_article .single_article_name a{font-size: 16px; font-weight: bold; margin-left: 5px;}

#articles #articles_body .single_article .single_article_price{position: absolute; left: 0px; top: 360px; width: 100%; height: 30px;}
#articles #articles_body .single_article .single_article_price p{position: absolute; left: 0px; top: 0px; width: 100%; margin: 0px; font-size: 14px; text-align: center; color: grey;}


#articles #articles_body #number_of_pages{position: relative; left: 0px; top: 0px; width: 100%; height: 40px; margin-top: 20px; margin-bottom: 140px; text-align: right;}
#articles #articles_body #number_of_pages .number_of_page{position: relative; border-left: 1px solid rgba(0,0,0,0.1); width: 30px; height: 30px; text-align: right; display: inline-block;}
#articles #articles_body #number_of_pages .number_of_page p{position: absolute; font-weight: bold; left: 0px; top: 3px; width: 100%; text-align: center; color: #BEBEBE; margin: 0px;}
#articles #articles_body #number_of_pages .number_of_page_select p{color: #333;}



/*** single article ***/

#single_product{position: absolute; top: 100px; left: calc(13%); width: calc(77%); height: calc(100% - 100px);}
#single_product #articles_header{position: absolute; left: calc(30px); background: #fff; z-index: 100; top: 0px; width: calc(100% - 60px); height: 90px;}
#single_product #articles_header #main_article_header{display: block;}
#single_product #articles_header #small_article_header{display: none;}
#single_product #articles_header h4{color: #BEBEBE; font-size: 22px; position: absolute; top: 30px; margin: 0px; }
#single_product #articles_header h4 a{color: #BEBEBE;}

#single_product #articles_body{position: absolute; left: 30px; top: 100px; width: calc(100% - 60px); height: auto;}

#single_product #articles_body #all_images{position: absolute; left: 0px; top: 0px; width: calc(100% - 0px); height: 460px; border: 1px solid rgba(0,0,0,0.1);}
#single_product #articles_body #all_images #image_part{position: absolute; left: 0px; top: 0px; width: 100%; height: calc(100% - 60px);}
#single_product #articles_body #all_images #image_part img{position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; max-width: 100%; max-height: 100%; margin: auto;}
#single_product #articles_body #all_images #image_part img:hover{cursor: pointer;}

#single_product #articles_body #all_images #image_part .rotated_image0{-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);}
#single_product #articles_body #all_images #image_part .rotated_image90{-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg);}
#single_product #articles_body #all_images #image_part .rotated_image180{-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
#single_product #articles_body #all_images #image_part .rotated_image270{-webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg);}


#single_product #articles_body #all_images #image_arrows{position: absolute; left: 0px; bottom: 0px; width: 100%; height: 50px; text-align: center;}
#single_product #articles_body #all_images #image_arrows .image_arrows_part{position: relative; left: 0px; top: 0px; display: inline-block; height: 40px; width: 40px;}
#single_product #articles_body #all_images #image_arrows .image_arrows_part2{width: 160px;}
#single_product #articles_body #all_images #image_arrows .image_arrows_part img{max-width: 20px; max-height: 20px; position: absolute; left: 10px; top: 10px; right: 10px; bottom: 10px; margin: auto;}
#single_product #articles_body #all_images #image_arrows .image_arrows_part img:hover{cursor: pointer;}
#single_product #articles_body #all_images #image_arrows .image_arrows_part p{margin: 0px; position: absolute; top: 8px; width: 100%;}


#single_product #articles_body #article_description{position: absolute; left: 0px; top: 500px; width: 100%; height: auto;}
#single_product #articles_body #article_description #article_description_header{position: relative; left: 0px; top: 0px; width: 100%; height: 50px;}
#single_product #articles_body #article_description #article_description_header .article_parts{position: relative; left: 0px; top: 0px; height: 48px; width: 200px; border-bottom: 2px solid rgba(0,0,0,0.05); display: inline-block;}
#single_product #articles_body #article_description #article_description_header .article_parts0{border-bottom: 2px solid #333; width: 140px;}
#single_product #articles_body #article_description #article_description_header .article_parts p{margin: 0px; position: absolute; font-size: 18px; margin-top: 8px; }
#single_product #articles_body #article_description #article_description_header .article_parts:hover{border-bottom: 2px solid #333; cursor: pointer;}

#single_product #articles_body #article_description #article_description_body{position: relative; left: 0px; top: 50px; width: 100%; }

#single_product #articles_body #article_description #article_description_body #our_product_details p{margin-top: 10px; text-align: justify;}

#single_product #articles_body #article_description #article_description_body #our_product_form{position: relative; display: none; left: 0px; top: 0px; width: 100%; height: 500px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #contact_info{position: absolute; left:0px; top: 20px; width: 320px; height: calc(100% - 40px); border-right: 2px solid rgba(0,0,0,0.1);}
#single_product #articles_body #article_description #article_description_body #our_product_form #contact_info .contact_info_part{position: relative; left: 0px; top: 0px; width: 100%; height: 40px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #contact_info .contact_info_part_h{height: 60px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #contact_info .contact_info_part_h h4{position: absolute; left: 0px; margin: 0px; top: 10px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #contact_info .contact_info_part i{position: absolute; left: 0px; top: 6px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #contact_info .contact_info_part p{position: absolute; left: 30px; margin: 0px; font-size: 14px; top: 3px;}

#single_product #articles_body #article_description #article_description_body #our_product_form #form_info{position: absolute; left: 350px; width: calc(100% - 350px); height: 100%;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part{position: relative; left: 0px; top: 0px; width: 100%; height: 60px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part_h{height: 80px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part h4{position: absolute; left: 0px; margin: 0px; top: 30px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part input{position: absolute; left: 0px; top: 0px; width: 100%; height: 40px; background: none; outline: none; border:none; border-bottom: 1px solid rgba(0,0,0,0.1); }
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part_t{height: 200px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part_t textarea{position: absolute; left: 0px; top: 0px; width: 100%; height: 200px; background: none; outline: none; border:none; border-bottom: 1px solid rgba(0,0,0,0.1); }
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part_s{height: 40px; background: #333; margin-top: 20px;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part_s:hover{cursor: pointer;}
#single_product #articles_body #article_description #article_description_body #our_product_form #form_info .form_info_part_s p{position: absolute; left: 0px; width: 100%; color: #fff; margin: 0px; text-align: center; top: 8px;}

#all_news_footer{position: relative; width: 100%; left: 0px; margin-top: 50px;}
#all_news_footer #all_news_footer_menu .all_news_footer_menu_link a{font-size: 14px;}

/** huge images - gallery **/
#huge_images_wrapper{position: fixed; display: none; left: 0px; top: 0px; width: 100%; height: calc(100% - 70px); background: rgba(58, 58, 58, 0.9); top: 70px; z-index: 400;}
#huge_images_wrapper img{position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; max-width: 100%; max-height: 100%; margin: auto;}
#huge_images_wrapper .huge_image{}
#huge_images_wrapper #exit_image{position: absolute; right: 0px; top: 0px; width: 80px; height: 80px; background: rgba(58, 58, 58, 0.9);}
#huge_images_wrapper #exit_image:hover{cursor: pointer;}
#huge_images_wrapper #exit_image img{position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; width: 30px; height: 30px; margin: auto;}
#huge_images_wrapper #huge_image_article_name{position: absolute; left: 0px; bottom: 0px; height: 50px; width: calc(100% - 0px); background: rgba(58, 58, 58, 0.9);}
#huge_images_wrapper #huge_image_article_name p{color: #fff; margin-left: 20px; margin-top: 12px;}
#huge_images_wrapper #huge_image_article_name p:hover{cursor: pointer;}

@media screen and (max-width: 1400px){
	#cat_menu{left: 5%;}
	#articles #articles_header{left: calc(5% + 380px);}
	#articles{left: calc(5% + 350px); width: calc(93% - 370px);}
	#all_news_footer{left: 5%; width: 90%;}
}

@media screen and (max-width: 1200px){
	#articles #articles_body .single_article{width: calc(50% - 4px);}

	/** Single product **/
	#single_product{left: 5%; width: 90%;}
}

@media screen and (max-width: 1000px){
	#cat_menu{left: calc(100%); background: #fff;  top: 70px; height: calc(100% - 70px); z-index: 200; border-left: 2px solid rgba(0,0,0,0.05);}
	#cat_menu #total_articles{top: 20px;}
	#cat_menu #cat_menu_header{top: 80px;}
	#cat_menu #cat_menu_all_links{top: 130px;}
	#cats_icon_mobile, #cat_menu #total_articles #exit_menu{display: block;}
	#articles #articles_header{left: calc(5% + 30px); width: calc(90% - 60px);}
	#articles{left: calc(5%); width: calc(90%);}


	/** footer **/
	#all_news_footer #all_news_footer_menu .all_news_footer_menu_link {font-size: 14px;}
}

@media screen and (max-width: 900px){
	#all_news_footer #all_socials{display: none;}
}

@media screen and (max-width: 800px){
	#articles #articles_header #main_article_header{display: none;}
	#articles #articles_header #small_article_header{display: block;}
	#articles #articles_body{top: 40px;}
	#articles #articles_header h4{width: 100%; text-align: center; margin-left: 0px;}
	#articles #articles_body #number_of_pages{margin-bottom: 50px;}
	

	/** footer **/
	#all_news_footer{display: none;}
}


@media screen and (max-width: 600px){
	#articles{left: calc(15px); width: calc(100% - 30px);}
	#articles #articles_body{left: 0px; width: 100%;}
	#articles #articles_header{left: calc(0%);  width: calc(100%);}
	#articles #articles_body .single_article{width: calc(100%);}
}

